@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: 3rem;
  /* colors */
  --first-color: #069c54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #ffffff;

  /* font and typography */
  --body-font: ;
  --biggest-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;
}
